spring:
   liquibase:
     change-log: classpath:/db/changelog/db.changelog-master.yaml
   datasource:
    url: jdbc:postgresql://localhost:5432/test_db
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
